html, body {
	height : 100%;		//html과 body의 높이를 100%로 함으로써 창크기에 딱 맞는 화면을 만든다.
}

.debug {
	border : 1px Solid black;	//debug 클래스의 경계선은 1px 검은색
}

.left-nav {				//왼쪽 메뉴창
	position:absolute;		//위치 절대값
	top : 0;			//위에서 0px;
	bottom : 0;			//아래서 0px;
	width : 200px;			//넓이 왼쪽부터 200px;
	background : #000;		//배경 검은색;
}

.main-panel {				//메인 패널
	position:absolute;		//위치 절댓값
	top : 0;			//높이 100%
	bottom : 0;
	left : 200px;			//왼쪽 200px 를 제외한 모든 범위가 메인 패널
	right : 0;			
	background : #ccc;		//배경 회색
}

.preview-container {			//미리보기 컨테이너
	position : absolute;		// 위치 절댓값
	top : 30px;			// 위에서 30px
	right : 0;			//오른쪽에 붙어있음
	height : 200px;			//높이 200 넓이 200
	width : 200px;
	background : white;		// 배경 흰색
	border : 0px Solid black;	//경계 x
	border-radius:5px 0px 0px 5px;	//모서리 둥근형 
	box-shadow : 0px 0px 2px rgba(0,0,0,0.2);	//그림자 
}
